* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000080;
	font-family: "Helvetica";
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

nav {
	width: 20%;
	display: inline-block;
	background-color: #89cff0;
	position: fixed;
	height: 100%;
}

li {
	list-style: none;
}

article {
	float: right;
	width: 75%;
	background-color: white;
}

header {
	text-align: center;
	background-color: yellow;
}